.single-card{
    border: 1px solid rgb(184, 183, 183);
    display: flex;
    margin-top: 10px;
    position: relative;
}
.single-card__image{
   height: 100%;
}
.single-card__text{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 33;
}
.single-more{
    display: flex;
    justify-content: space-between;
}