.main-page-accomodation{
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.component-heading {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin-bottom: 4px;
}

.component-text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    color: #333;
}

.main-page-accomodation__inner_wrapper{
    display: flex;
    justify-content: center;
}