.test-box{
    display: flex;
}

.popular_destinations_card_link {
    padding-top: 10px;
    display: block;
}

.popular_destinations_card_link:not(:last-child) {
    margin-right: 16px;
}

.popular_card_wrapper {
    position: relative;
    width: 272px;
    height: 272px;
}

.popular_destinations_card_img {
    display: flex;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.popular_destinations_card_city {
    background-image: linear-gradient(
        0deg,rgba(0,0,0,0.6) 0,rgba(0,0,0,0.6) calc(100% - 20px),rgba(0,0,0,0));
    height: 80px;
    font-size: 24px;
    line-height: 28px;
    color: white;
    letter-spacing: .02em;
    position: absolute;
    padding: 0px 15px 10px;
    z-index: 40;
    bottom:0px;
    right: 0;
    left: 0;
    font-weight: 900;
  
}