.site__header {
    background-color: #003580;
    padding: 15px 0;
}

.site-header-logo-img {
    color: #fff;
    width: 100px;
    object-fit: contain;
    object-position: center;
}

.blog_pages__my_trips {
    margin-right: 60px;
    padding: 8px 6px;
    border-radius: 20px;
    transition: all 0.5s;
}

.blog_pages__review {
    padding: 8px 6px;
    border-radius: 20px;
    transition: all 0.5s;
}

.blog_pages__review,
.auth__registration {
    margin-right: 20px;
}

.site-header-link {
    font-weight: 500;
    color: #fff;
}

.currency {
    font-size: 18px;
    margin-right: 20px;
}

.language,
.currency {
    width: 48px;
    height: 48px;
    color: #fff;
    vertical-align: middle;
    background: transparent;
    border: none;
    transition: linear 0.1s;
}

.language__image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #f2f2f2;
}

.auth__registration,
.auth__sign-in {
    transition: linear 0.1s;
    padding: 8px;
    border: 2px solid #fff;
}

/* ===== Header Linkes hover and active positions ===== */

.auth__registration:hover,
.auth__sign-in:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.auth__registration:active,
.auth__sign-in:active {
    opacity: 0.5;
}

.blog_pages__review:hover,
.blog_pages__my_trips:hover {
    background-color: rgba(205, 205, 205, 0.4);
    color: #fff;
}

.blog_pages__review:active,
.blog_pages__my_trips:active {
    opacity: 0.5;
}

.language:hover,
.currency:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}



/* ===== Header Icons ===== */
.fa-pen,
.fa-heart {
    color: #fff !important;
    font-size: 20px !important;
    margin-right: 6px;
}

/* ===== Dropdown ===== */

.dropdown {
    display: inline-block;
    /* width: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,.1);
    background-color: white; */
  }
  
  .dropdown-header {
    /* padding: 15px; */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-body {
      background-color: #fff;
    padding: 5px;
    border-top: 1px solid #E5E8EC;
    display: none;
  }
  
  .dropdown-body.open {
    display: block;
  }
  
  .dropdown-item {
    padding: 10px;
  }
  
  .dropdown-item:hover {
    cursor: pointer;
  }
  
  .dropdown-item-dot {
    opacity: 0;
    color: #91A5BE;
    transition: all .2s ease-in-out;
  }
  
  .dropdown-item-dot.selected {
    opacity: 1;
  }
  
  .icon {
    font-size: 13px;
    color: #91A5BE;
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
  }
  
  .icon.open {
    transform: rotate(90deg);
  }