.restaurant-card {
    width: 281px;
    height: 345px;
    color:violet;
    margin-right: 16px;
    
}

.restaurant-card__img{
    position: relative;
}

.restaurant-card__like{
    position: absolute;
    top:13px;
    left:227px;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius:50%;
    border:none;
}


.restautant-card__name{
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color:#000;
    margin:0;

}

.restaurant-card__reyting{
    font-size: 14px;
    font-weight: 400;
    color:rgba(7, 6, 6, 0.89);
}
.restaurant-card__description{
    margin:0;
    font-size: 14px;
    line-height: 17px;
    color:rgba(10, 10, 10, 0.884);
}

.restautant-card__name:hover{
    text-decoration: underline;
    width: 100%;
    
}
.restaurant-card:hover{
    opacity: 0.7;
}

.restaurant-card-heart{
    font-size: 40px !important;
    position: absolute;
    top: -1px;
    right: -2px;
}
.restaurant-card__like .active{
    background-color: red;
}
  
  