.weather__component {

    background-color: rgba(238, 237, 237, 0.33);
    color: rgb(105, 104, 104);
    font-family: sans-serif;
    width:300px;
    text-align: center;
    border-radius:12px;
    margin:20px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column4{
    margin:20px;
}
.weather-input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid;
}