.weather__component {

    background-color: rgba(238, 237, 237, 0.33);
    color: rgb(105, 104, 104);
    font-family: sans-serif;
    width:300px;
    text-align: center;
    border-radius:12px;
   

}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column4{
    margin:20px;
}
.weather__input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid;
}
.weather__name{
    margin:0;
    font-size: 28px;
    font-weight: 500;
    color:rgb(3, 82, 27);
}
.weather__descrip{
    font-size: 18px;
    font-weight: 500;
    color:rgb(4, 56, 17)
}