.weather__component {

    background-color: rgba(238, 237, 237, 0.33);
    color: rgb(105, 104, 104);
    font-family: sans-serif;
    width:300px;
    text-align: center;
    border-radius:12px;
    min-height: 300px;
   

}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.column4{
    margin:20px;
}
.weather__input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid;
}
.weather__name{
    margin:0;
    font-size: 24px;
    font-weight: 500;
    color:rgb(3, 82, 27);
}
.weather__descrip{
    font-size: 24px;
    font-weight: 500;
    color:rgb(3, 82, 27);
}
.weather__temp{
    font-size: 22px;
    font-weight: 400;
    color:rgb(3, 82, 27);
}
.weather__location-img{
    width: 24px;
    margin:0 5px;

}