.site_footer{
background-color:#f4e6e0;
color:#000;
padding-top: 30px;
padding-bottom: 30px;
}

.site_footer__inner_wrapper{
    display: flex;
    justify-content: space-between;
}

.site_footer__title{
    margin: 0;
    margin-bottom: 10px;
}

.about_us{
margin-right: 20px;
margin-bottom: 10px;
}

.about_us_link{
    display: block;
    margin-bottom: 12px;
    font-size: 13px;
}

.about_us_link:hover{
    color: #2659E8;
}

.about_us_link:active{
    color: rgb(100, 130, 177);
}

.all_rights{
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14px;
    color:#333;
}

.footer_list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_list_item{
    margin-bottom: 8px;
}

.about_us_link, .footer_list_link{
    color:#000;
    cursor:pointer;
    line-height: 14px;
    font-size: 13px;
    font-weight: 700;
}

.footer_list_link:hover{
    color: #2659E8;
}

.footer_list_link:active{
    color: rgba(0, 113, 194, 0.7);
}

.socials{
    display: flex;
    align-items: end;
}

.fab{
    font-size: 25px; 
}

.fab:not(:not(:last-child)) {
    margin-right: 20px;
}