.subnavbar {
    background-color: #003580;
    padding-bottom: 10px;
}

.subnavbar-list {
    display: flex;
    justify-content: left;
    margin: 0 auto;
    padding: 0;
}

.subnavbar-item {
    list-style: none;
    vertical-align: middle;
}

.subnavbar-text {
    color: #fff;
    font-size: 17px;
}

.subnavbar-link {
    padding: 10px 8px;
    border-radius: 25px;
    border: 1px solid transparent;
    transition: all 0.3s;
}

.subnavbar-link:hover {
    border: 1px solid #fff;
    background-color: hsla(0, 0%, 100%, .1);
}

.subnavbar .fa-utensils,
.subnavbar .fa-calendar-check,
.subnavbar .fa-hotel {
    vertical-align: middle;
    color: white;
    font-size: 22px;
    margin-right: 15px;
}

.subnavbar-item:not(:last-child) {
    margin-right: 100px;
}

.selected {
    background-color: #fff; 
    /* TODO: navlink orqa rangi ozgarmadi */
}