.map {
    width: 295px;
    height: 136px;
}

.map-inner-wrapper {
    position: relative;
}

.map-img {
    height: 135px;
    object-fit: cover;
    width: 100%;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.ui_button.secondary {
    position: absolute;
    left: 100px;
    bottom: 90px;
    border-color: #000;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    appearance: none;
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    font-weight: 700;
    border: 1px solid rgb(202, 187, 187);
    border-radius: 2px;
    background-clip: padding-box;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: background-color .2s;
}

.ui_button:hover {
    text-decoration: none;
    background-color: #d6d6d6;
    border-color: #000;
    color: #000;
}